body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  overflow: scroll;
}

.App {
  max-width: 800px;
  margin: 27px auto;
   background: linear-gradient(
    45deg,
    hsl(0deg 0% 100%) 0%,
    hsl(344deg 0% 96%) 11%,
    hsl(344deg 0% 92%) 22%,
    hsl(0deg 0% 88%) 33%,
    hsl(1deg 31% 86%) 44%,
    hsl(1deg 53% 85%) 56%,
    hsl(0deg 68% 83%) 67%,
    hsl(20deg 91% 84%) 78%,
    hsl(39deg 87% 85%) 89%,
    hsl(73deg 83% 88%) 100%
  );;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  text-align: center;
  padding: 20px;
}

header {
  background: linear-gradient(
    45deg,
    hsl(0deg 0% 100%) 0%,
    hsl(344deg 0% 96%) 11%,
    hsl(344deg 0% 92%) 22%,
    hsl(0deg 0% 88%) 33%,
    hsl(1deg 31% 86%) 44%,
    hsl(1deg 53% 85%) 56%,
    hsl(0deg 68% 83%) 67%,
    hsl(20deg 91% 84%) 78%,
    hsl(39deg 87% 85%) 89%,
    hsl(73deg 83% 88%) 100%
  );;
  
  padding: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  margin: auto;
}

.user-info {
  display: flex;
  align-items: center;
  border-radius: 60px;
}

.user-info img {
  position: absolute;
  top: 50px;
  left: 20rem;
}

.user-info p {
  position: absolute;
  top: 105px;
  left: 18.5rem;
  margin-top: 12px;
}

.profile-pic {
  border-radius: 50%;
  margin-right: 10px;
}

button {
  background-image: #d4bfbf;
  color: #343b42;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 14px;
  border-radius: 4px;
}

button:hover {
  background-color: #747679;
  color: #fff;
}

.task-form {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

input {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 20px;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login-button {
  position: fixed;
  top: 75px;
  left: 70%;
}

.logout-button{
  position: absolute;
  top: 75.5px;
  right: 330px;
}

.completed {
  background-color: #d4edda;
  text-decoration: line-through;
  opacity: 0.75;
}

.task-indicator {
  font-weight: bold;
}

.due-date {
  color: #777;
}

.overdue {
  color: #dc3545;
}





@media (max-width: 500px) {
  header {
    flex-direction: column;
    text-align: center;
  }

  .user-info p {
    position: absolute;
    top: 105px;
    left: 3rem;
    margin-top: 25px;
  }

  .user-info img {
    position: absolute;
    top: 40px;
    left: 4.5rem;
    margin-top: 20.5px;
  }
  
  .profile-pic {
    border-radius: 50%;
    margin-right: 10px;
  }

  .user-info {
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }

  .logout-button{
    position: absolute;
    top: 46px;
    right: 20px;
  }

  .profile-pic {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .login-button {
    position: fixed;
    bottom: 87%;
    left: 70%;
  }

  .task-indicator {
    margin: auto;
  }

}

.dark-mode {
  background: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%); 
  color: white !important;
  
}

.dark-mode header {
  background: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%); 
}

.dark-mode button {
  background-color: #030101; 
  border: 1px solid #fff; 
}

.dark-mode button:hover {
  background-color: #555; 
}

.dark-mode .completed {
  background-color: #555; 
}

.dark-mode .due-date {
  color: #bbb; 
}

.dark-mode .overdue {
  color: #dc3545; 
}

.about {
  max-width: 600px;
  margin: 0 auto; 
  text-align: center; 
  padding: 20px; 
  border-radius: 10px; 
  box-shadow: 0 0 10px rgba(7, 0, 0, 0.1); 
}


@media (max-width: 600px) {
  .about {
    width: 90%; 
  }
}

.footer {
  background: linear-gradient(
    45deg,
    hsl(0deg 0% 100%) 0%,
    hsl(344deg 0% 96%) 11%,
    hsl(344deg 0% 92%) 22%,
    hsl(0deg 0% 88%) 33%,
    hsl(1deg 31% 86%) 44%,
    hsl(1deg 53% 85%) 56%,
    hsl(0deg 68% 83%) 67%,
    hsl(20deg 91% 84%) 78%,
    hsl(39deg 87% 85%) 89%,
    hsl(73deg 83% 88%) 100%
  );
  color: black;
  padding: 20px 0;
  text-align: center;
}


.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-links a {
  color: black;
  margin: 0 10px;
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}

.dark-mode .footer {
  background: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);
  color: white;
}

.dark-mode .footer-links a {
  color: #fff;
}

.dark-mode .footer-links a:hover {
  text-decoration: underline;
}
